.grid-container-pdf {
  display: grid;
  grid-gap: 0px;
  border-bottom: 2px solid grey;

}

.grid-itempdf{
  padding: 20px;
  font-size: 30px;
}

.itempdf1 {
  grid-column: 1 / span 4;
    grid-row: 1;
}

.itempdf1 p{
  text-align: center;
  font-family: 'Titillium Web', sans-serif;
   font-weight: bold;
   border-bottom: 2px solid black;
   margin-bottom: 2px;
}


.itempdf2 {
  grid-column: 1;
    grid-row: 2/11;
    background-color: lightgrey;
}


.itempdf3 {
  grid-column: 2;
  grid-row: 2;
  display: block;
margin-bottom: 15px;
}

.itempdf3 img {
  width: 70px;
  margin-top: -40px;
  margin-left: -2px;
}

.itempdf33 {
  grid-column: 3;
  grid-row: 2;
  display: block;
}

.itempdf33 p{
  font-family: 'Titillium Web', sans-serif;
   font-weight: bold;
   float: left;
   margin-top: -20px;
   margin-left: -165px;
   color: #25b125;
}

.itempdf4 {
  grid-column: 4;
  grid-row: 2/11;
  background-color: lightgrey;

}

.itempdf5 {
  grid-column: 2 ;
   grid-row: 4;
   margin-top: -50px;
}

.itempdf5 p{
  display: inline-flex;
  font-size: 20px;
  margin-top: -50px;
}

.itempdf55 {
  grid-column: 3 ;
   grid-row: 4;
   margin-top: -50px;

}

.itempdf55 p{
  display: flex;
  font-size: 20px;
  align-content: flex-end;
}

.itempdf6 {
  grid-column: 2;
  grid-row: 5;
}

.itempdf6 p{
  font-size: 20px;
  margin-top: -70px;
}

#description{
  height: 40px;
  width: 350px;

}

.itempdf66 {
  grid-column: 3;
  grid-row: 5;

}


.itempdf7{
  grid-column: 2;
  grid-row: 6;

}

/*skill baren */



.itempdf77{
  grid-column: 3;
  grid-row: 6;

}

.itempdf8{
  grid-column: 2/3;
  grid-row: 7;

}

.itempdf8 p{
  font-size: 20px;
}

#description1{
  text-align: center;
  background-color: white;
  display: block;
  height: 30%;
  border: 2px solid black;
  border-radius: 3px;
  overflow:hidden;
  width: 100%;
}
 #bar1{
   width: 50%;
   height: 30%;
   background-color: #4caf50;
   text-align: center;
   line-height: 30px;
   color: #fff;
 }

.container-btn{
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  margin-left: 10em;
  margin-top: -30px;
}

.switch{
  position: relative;
  display:inline-block;
  width: 80px;
  height: 30px;
  margin: 0 10px;
}

.slider{
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 34px;
}

.switch input {display:none}

.slider:before{
position: absolute;
content:"";
height: .7em;
width: .7em;
left: 5px;
bottom: 5px;
background-color: white;
transition: .4s;
border-radius: 25px;
}

input:checked + .slider
{
  background-color: #4caf50;
}

input:checked + .slider:before
{
  transform: translateX(50px);
}


.itempdf88{
  grid-column: 3;
  grid-row: 7;
}

.itempdf9{
  grid-column: 2;
  grid-row: 8;


}

#comment{
  height: 40px;
  width: 350px;
}

.itempdf9 p{
  font-size: 20px;
}

.itempdf99{
  grid-column: 3;
  grid-row: 8;

}

.itempdf10{
  grid-column: 2;
  grid-row: 9;
  border-top: 2px solid grey;
}

.itempdf10 img{
  height: 3em;
}

.itempdf1010{
  grid-column: 3;
  grid-row: 9;
border-top: 2px solid grey;

}

.itempdf11{
  grid-column: 2;
  grid-row: 10;
  border-top: 2px solid grey;
}

.itempdf11 p{
  font-size: 20px;
}

.itempdf11 img{
  height: 3em;

}

.itempdf1111{
  grid-column: 3;
  grid-row: 10;
  border-top: 2px solid grey;
}

.itempdf1111 button{
  background-color: #4caf50;
 border: none;
 color: white;
 padding: 20px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 margin: 4px 2px;
 cursor: pointer;
 border-radius: 8px;
 float: right;
 margin-top: 100px;
}
