@charset "utf-8";

/* CSS Document */
/* Her starter menu css */
.overallnav {
  display: grid;
  grid-template-columns: auto;
}

.overallnavitems {
  background-color: #000000;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

#headerlogo {
  width: 150px;
  height: 20px;
  float: left;
  margin-top: 2px;
}

.overallnav .overallnavitems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overallnav .overallnavitems li {
  float: left;
  margin-left: 20px;
}

.overallnav .overallnavitems li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.overallnav .overallnavitems li a:hover {
  color: #25b125;
}

#navbox {
  float: right;
}

.remain .residenav ul {
  list-style-type: none;
  margin: 20px;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  font-size: 12px;
}

.remain .residenav li {
  margin-left: 20px;
}

.remain .residenav li a {
  color: #ffffff;
  text-decoration: none;
}

.remain .residenav li a:hover {
  color: #25b125;
}

.remain .residenav p {
  font-size: 15px;
}

.remain .residenav li p {
  font-size: 12px;
}

.remain {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "residenav remainbox remainbox""residenav remainbox remainbox";
  grid-area: remain;
  border: thick #000000 solid;
}

.remain .residenav {
  grid-area: residenav;
  border: medium #414141 solid;
  background-color: #000000;
}

.remain .remainbox {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 1px 1px;
  grid-area: remainbox;
  border: medium #414141 solid;
}

/* Her slutter menu css */
/* Her starter settings css */
.setcontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 10em 3em 1fr 1fr 1fr 1fr 1fr;
  border: 2px solid red;
}

/* Forste del starter */
.set_item1 {
  grid-column: 1 /-1;
  grid-row: 1;
}

.set_item1 p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  margin-bottom: 7px;
}

.set_item2 {
  margin-top: 200px;
  grid-column: 3;
  grid-row: 1;
  font-family: 'Titillium Web', sans-serif;
}

.set_item2 p{
  grid-column: 3;
  font-family: 'Titillium Web', sans-serif;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

#name_of_resource {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 200px;
  height: 50px;
}

#type {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 200px;
  height: 50px;
}

#group{
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 200px;
  height: 50px;
}

.set_item3 {
  margin-top: 200px;
  grid-column: 4;
  grid-row: 1;
  font-family: 'Titillium Web', sans-serif;
}


.set_item4 {
  margin-top: 200px;
  grid-column: 5;
  grid-row: 1;
  font-family: 'Titillium Web', sans-serif;
}


/* Første del slutter */
/* Anden del starter */
.set_item5 {
  grid-column: 1 /-1;
  grid-row: 2;
  margin-top: 400px;
}

.set_item5 p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  margin-bottom: 7px;
}

.set_item6 {
  margin-top: 500px;
  grid-column: 3;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#description {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 250px;
  height: 200px;
}

.set_item7 {
  margin-top: 500px;
  grid-column: 4;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#documents {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 250px;
  height: 200px;
}

.set_item8 {
  margin-top: 500px;
  grid-column: 5;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#checkbox {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 250px;
  height: 200px;
}

/* Anden del slutter */
/* Tredje del starter */
.set_item9 {
  grid-column: 1 /-1;
}

.set_item9 p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  margin-bottom: 7px;
}


.set_item10 {
  margin-top: 1200px;
  grid-column: 2;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#last_service {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 200px;
  height: 50px;
}

.set_item11 {
  margin-top: 1200px;
  grid-column: 3;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#service_interval_number {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 100px;
  height: 50px;
}

.set_item12 {
  margin-top: 1200px;
  grid-column: 4;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#service_interval_style {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 100px;
  height: 50px;
}

.set_item13 {
  margin-top: 1200px;
  grid-column: 5;
  grid-row: 2;
  font-family: 'Titillium Web', sans-serif;
}

#next_service {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 200px;
  height: 50px;
}

/* Tredje del slutter */
/* Her starter 4 del */
.set_item14 {
  grid-column: 1 /-1;
}

.set_item14 p {
  grid-column: 1 / -1;
  text-align: center;
  font-size: 30px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  border-bottom: 2px solid #000000;
  margin-bottom: 7px;
  margin-top: -90px;
}

.notify_to_email p{
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 100px;
  margin-bottom: 0px;
}

.set_item15 {
  margin-top: 0.01px;
  grid-column: 1/-1;
  font-family: 'Titillium Web', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  flex-direction: row;
  flex-wrap: nowrap;
}

#to_email {
  color: #6B6C6B;
  font-family: 'Titillium Web', sans-serif;
  width: 250px;
  height: 50px;
}

/* Her slutter 4 del */
/* Alle scrool pile her */
.scrool {
  grid-column: 1/-1;
  width: 100%;
}

#tocontent {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
}

.set_save_exit1{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-top: 190px;
}

.set_save_exit{
  display: flex;
    font-size: 18px;
    line-height: 1.3333333;
    border-radius: 6px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border: 1px solid transparent;

}

.set_save_exit p{
  color: #ffffff;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 600;
}

.arrowDown1 {
  margin-top: 300px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 50%;
  opacity: .5;
}

.arrowDown2 {
  margin-top: 100px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(225deg);
  margin-left: 50%;
  opacity: .5;
}

.arrowDown3 {
  margin-top: 240px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 50%;
  opacity: .5;
}

.arrowDown4 {
  top: -250px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(225deg);
  margin-left: 50%;
  opacity: .5;
  position: relative;
}

.arrowDown5 {
  top: -150px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-left: 50%;
  opacity: .5;
  position: relative;
}

.arrowDown6 {
  margin-top: 30px;
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 10px;
  transform: rotate(45deg);
  -webkit-transform: rotate(225deg);
  margin-left: 50%;
  opacity: .5;
}
