@charset "utf-8";
/* CSS Document */



.recontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2.5fr 1fr 1fr;
  gap: 0px 1px;
  grid-template-areas: "remain remain remain remain" "remain remain remain remain" "footer footer footer footer";
}
.remain {
	
	 display: grid;
  grid-template-columns: 1fr 4fr 1fr;
	text-align: center;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "residenav remainbox remainbox" "residenav remainbox remainbox";
  grid-area: remain;
	border: thick #000000 solid;
	
}




.remain .residenav {
	grid-area: residenav;
	border: medium #414141 solid;
}



.remain .remainbox{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "remainboxtop remainboxtop remainboxtop" "remainboxressources remainboxressources remainboxressources";
  grid-area: remainbox;
border: medium #414141 solid;
	
}

.remainboxtop { 
	grid-area: remainboxtop; }


.remain .remainbox .remainboxressources{
	 grid-area: remainboxressources; 
	border: thin #BDBDBD solid;
	align-items:center;
	text-align: start;
	columns: 3;
	
	
}


.remain .remainbox .remainboxressources ui {
	 
   
}

.footer {
	grid-area: footer;
	border: thick #000000 solid;
}






