@charset "utf-8";
/* CSS Document */


/* navigationsbar*/

.overallnav {
  display: grid;
  grid-template-columns: auto;
}

.overallnavitems {
  background-color: #000000;
  padding-left: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 15px;
  text-align: center;
}

#headerlogo {
  width: 150px;
  height: 20px;
  float: left;
  margin-top: 2px;
}

.overallnav .overallnavitems ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.overallnav .overallnavitems li {
  float: left;
  margin-left: 20px;
}

.overallnav .overallnavitems li a {
  display: block;
  color: #FFFFFF;
  text-align: center;
  text-decoration: none;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}

.overallnav .overallnavitems li a:hover {
  color: #25b125;
}

#navbox {
  float: right;
}

/* sidenavigationsbar*/



.remain {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "sidenav remainbox remainbox""sidenav remainbox remainbox";
  grid-area: remain;
  border: thick #000000 solid;
}


.remain .sidenav ul{
  list-style-type: none;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  font-size: 12px;
  margin-left: 20px;
}

.remain .sidenav li{
  margin-left: 20px;
}

.remain .sidenav li a{
  color: #ffffff;
  text-decoration: none;
}

.remain .sidenav li a:hover{
  color: #25b125;
}

.remain .sidenav p{
  font-size: 20px;
  list-style-type: none;
  padding: 0;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  margin-left: 20px;
}

.sidenav ul.underkategorinav{
  margin-left: 0;
}

.remain .sidenav ul li a{
  font-size: 15px;
}

.remain .sidenav{
	grid-area: sidenav;
	border: medium #414141 solid;
  background-color: #000000;
}

/* sidenavigationsbar done*/









.recontainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 2fr 0.3fr;
  gap: 0px 1px;

  grid-template-areas: "remain remain remain remain" "remain remain remain remain";
	
}



.remainbox h1 {
	font-family:"Titillium Web";
	
}
/* Add new resource button */
.addrebut {
	margin-top: 65px;
	box-shadow:inset 0px 1px 0px 0px #a4e271;
	background:linear-gradient(to bottom, #89c403 5%, #01cc01 100%);
	background-color:#89c403;
	border-radius:32px;
	border:1px solid #74b807;
	display:inline;
	float: left;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:8px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #01cc01;
}
.addrebut:hover {
	background:linear-gradient(to bottom, #77a809 5%, #89c403 100%);
	background-color:#1F7E1F;
}
.addrebut:active {
	position:relative;
	top:1px;
}

/*searchBAR*/

.remainbox .remainboxtop .researchsbar {
	float: right;
	
	margin-top: 60px;
	background: #000000;
	height: 40px;
	border-radius: 40px;
	padding: 10px;
}




.remainbox .remainboxtop .researchsbar .researchbtn {
	float: right;
	width: 40px;
	 color: #25b125;
	border-radius: 50%;
	
	background: #000000;
	display: flex;
	justify-content: center;
	align-content: center;
}



.remainbox .remainboxtop .researchsbar .search-txtpl {
	border: none;
	background: none;
	outline: none;
	 	
	float: left;
	padding: 0;
	color: white;
	font-size: 16px;
	transition: 40px;

}



.remain .remainbox{
display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.4;
  gap: 1px 1px;
  grid-template-areas: "remainboxtop remainboxtop remainboxtop" "remainboxressources remainboxressources remainboxressources" "remainboxbut remainboxbut remainboxbut";
  grid-area: remainbox;
border: medium #414141 solid;
	
}

.remainboxtop { 
	grid-area: remainboxtop;
	padding-bottom: 1%;
	
}
.remainboxtop h1 {
	margin-bottom: -50px;
	border-bottom: thin solid #000000;
}
/* resourcees*/

.remain .remainbox .remainboxressources{
	position: relative;
	 grid-area: remainboxressources; 

	align-items:center;
	text-align: start;
	
	  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 45px 10px;
  grid-template-areas: "reitem reitem reitem reitem reitem" "reitem reitem reitem reitem reitem" "reitem reitem reitem reitem reitem";
	
	
}




.remain .remainbox .remainboxressources .reitem {
	
grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 1fr;
  gap: 1px 1px;
  grid-template-areas: "reitem 1" "reiten1date";
	
	overflow: hidden;
	padding-bottom: 20%;
	text-decoration: none;
	border: #000000 solid;
	border-width: medium;
	height: 150px;
	width: 90%;
}

/* resource 1 */
.remain .remainbox .remainboxressources .reitem1nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
	
}


.remain .remainbox .remainboxressources .reitemname {
	color:#1F1F1F;
	grid-area: reitemname;
	
	
}
.reitemname h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitemtype {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem1date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress {
	grid-area: reiten1dat;
color:#000000;
	background-color: red;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;
	

}

.remain .remainbox .remainboxressources .itemprogress h2{
 
	text-align:justify;
	
}


/* resource 2 */

.remain .remainbox .remainboxressources .reitem2nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem2name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem2name h1 {
	font-size: 2em;
	}

.remain .remainbox .remainboxressources .reitem2type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem2date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate2 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress2 {
	grid-area: reiten1dat;
color:#000000;
	background-color: red;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress2 h2{
 
	text-align:justify;
	
}







/* resource 3 */

.remain .remainbox .remainboxressources .reitem3nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem3name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem3name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem3type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem3date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate3 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress3 {
	grid-area: reiten1dat;
color:#000000;
	background-color: red;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress3 h2{
 
	text-align:justify;
	
}







/* resource 4 */

.remain .remainbox .remainboxressources .reitem4nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem4name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}

.reitem4name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem4type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem4date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate4 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress4 {
	grid-area: reiten1dat;
color:#000000;
	background-color: red;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress4 h2{
 
	text-align:justify;
	
}






/* resource 5*/

.remain .remainbox .remainboxressources .reitem5nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem5name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}

.reitem5name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem5type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem5date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate5 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress5 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #E4D824;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress5 h2{
 
	text-align:justify;
	
}







/* resource 6*/

.remain .remainbox .remainboxressources .reitem6nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem6name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem6name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem6type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem6date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate6 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress6 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #E4D824;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress6 h2{
 
	text-align:justify;
;
}





/* resource 7*/

.remain .remainbox .remainboxressources .reitem7nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem7name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}

.reitem7name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem7type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem7date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate7 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress7 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #E4D824;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress7 h2{
 
	text-align:justify;

}




/* resource 8*/

.remain .remainbox .remainboxressources .reitem8nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem8name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem8name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem8type {
margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem8date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate8{
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress8 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #E4D824;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress8 h2{
 
	text-align:justify;

}





/* resource 9*/

.remain .remainbox .remainboxressources .reitem9nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem9name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem9name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem9type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem9date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate9 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress9 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #E4D824;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress9 h2{
 
	text-align:justify;
	
}






/* resource 10*/

.remain .remainbox .remainboxressources .reitem10nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem10name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem10name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem10type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem10date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate10 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress10 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #E4D824;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress10 h2{
 
	text-align:justify;

}




/* resource 11*/

.remain .remainbox .remainboxressources .reitem11nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem11name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem11name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem11type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem11date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate11 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress11 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #35E424;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress11 h2{
 
	text-align:justify;
	
}



/* resource 12*/

.remain .remainbox .remainboxressources .reitem12nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem12name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem12name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem12type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem12date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate12{
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress12 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #35E424;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress12 h2{
 
	text-align:justify;
	
}


/* resource 13*/

.remain .remainbox .remainboxressources .reitem13nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem13name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem13name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem13type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem13date {
	border: thin #000000 solid; 
	
	
	width:100%;
	height: 100%;
}

#indidate13 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress13 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #35E424;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress13 h2{
 
	text-align:justify;
	
}



/* resource 14*/

.remain .remainbox .remainboxressources .reitem14nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
}


.remain .remainbox .remainboxressources .reitem14name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem14name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem14type {
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem14date {
	border: thin #000000 solid; 
	
	
	width:100%;
height: 100%;
}

#indidate14 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress14 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #35E424;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress14 h2{
 
	text-align:justify;

}




/* resource 15*/

.remain .remainbox .remainboxressources .reitem15nt {
	  display: grid;
  grid-template-columns: 1fr 0.1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "reitemname reitemtype";
	
}


.remain .remainbox .remainboxressources .reitem15name  {
	color:#1F1F1F;
	grid-area: reitemname;
	
}
.reitem15name h1 {
	font-size: 2em;
	}
.remain .remainbox .remainboxressources .reitem15type{
	margin-top: 5px;
	color: #000000;
	grid-area: reitemtype;
	opacity: .4;
}


.remain .remainbox .remainboxressources #reitem15date {
	border: thin #000000 solid; 
	font-size: 2em;
	
	width:100%;
	height: 100%;
}

#indidate15 {
	display: none;
	z-index: 0;
}

.remain .remainbox .remainboxressources .itemprogress15 {
	grid-area: reiten1dat;
color:#000000;
	background-color: #35E424;
	width:100%;
	height: 100%;
	margin-top: -20px;
	text-align: center;

}

.remain .remainbox .remainboxressources .itemprogress15 h2{
 
	text-align:justify;
	
}

/* end ressource page showing*/
.remainboxbut {
	margin-top: 1%;
	margin-bottom: 1%;
	grid-area: remainboxbut;
	margin-right: 30px;
}
.remainboxbut .prevrepage {
	float: right;
	color:#000000;
		line-height: 35px;
}
.remainboxbut .repageshow {
	box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: 0.5em 1em;
	float: right;
    margin-left: 2px;
    text-align: center;
    text-decoration: none;
	color:#000000;
    cursor: pointer;
	border-radius: 2px;
	background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
	border: thin solid #000000;
}
.remainboxbut .nextrepage {
	color:#000000;
	float: right;
	line-height: 35px;
}


